@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: .5px;
}

.container {
  display: flex;
  flex-direction: column;
}

.hero {
  padding: 16px 350px;
  height: 550px;
}

.header-navigation, .header-navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation ul {
  gap: 32px;
}

.header-navigation {
  margin-bottom: 125px;
}

.hero, .footer {
  background-color: #1f2937;
}

.header h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.header p, .header-navigation a {
  font-size: 18px;
  color: #e5e7eb;
}

.header-navigation a {
  text-decoration: none;
}

.header-navigation h1 {
  font-size: 24px;
  color: #f9faf8;
}

.header-navigation li {
  list-style: none;
}

.header-btn, .cta {
  background-color: #3882f6;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header {
  width: 325px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header-content img {
  height: 250px;
  width: 650px;
}

.btn {
  width: 100px;
  padding: 10px 0;
  border-radius: 5px;
  outline: none;
}

.header-btn {
  border: none;
  color: #e5e7eb;
  font-weight: 900;
}

.information-section h1 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.quote-section {
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}