@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: .5px;
}

.container {
  display: flex;
  flex-direction: column;
}


/*** Standard Button Sizing ***/

.btn {
  width: 100px;
  padding: 10px 0;
  border-radius: 5px;
  outline: none;
}


/*** Multi-section Shared ***/

.hero, .footer {
  background-color: #1f2937;
}

.header-btn, .cta {
  background-color: #3882f6;
}


/*** Hero Section ***/

.hero {
  padding: 16px 350px;
  height: 550px;
}


/*** Header Section ***/

.header-navigation, .header-navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation ul {
  gap: 32px;
}

.header-navigation {
  margin-bottom: 125px;
}

.header h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.header p, .header-navigation a {
  font-size: 18px;
  color: #e5e7eb;
}

.header-navigation a {
  text-decoration: none;
}

.header-navigation h1 {
  font-size: 24px;
  color: #f9faf8;
}

.header-navigation li {
  list-style: none;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header-content img {
  height: 250px;
  width: 650px;
}

.header-btn {
  border: none;
  color: #e5e7eb;
  font-weight: 900;
}


/*** Information Section ***/

.information-section {
  text-align: center;
  margin-bottom: 125px;
}

.information-section h1 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 46px 0;
}


/*** Card Content ***/

.card-content {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border: 3px solid #3882f6;
}

.card p {
  width: 200px;
}


/*** Quote Section ***/

.quote-section {
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}


/*** CTA Section ***/


/*** Footer Section ***/